<h1>Reversi en Angular</h1>
<pre>{{strBoard()}}
    {{currentPlayer()}}
    Joue (ex '3,2')
    <!--
        <form action="affichageCoordonee()">
            <input type="text" [(ngModel)]="userInput" [ngModelOptions]="{standalone: true}" />
            <button type="submit" >play</button>
        </form>
    -->
</pre>
    <ul>
    <li *ngFor="let coup of coupsPossibles()">
        <button (click)="playAt(coup)">
            {{coup | json}}
        </button>
    </li>
</ul>

<pre>
    {{coupsPossibles().length}}
    {{winnerSig()}}
    score : {{scoresSig() | json}}
    {{testSignal()}}
</pre>

